/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	line-height: 1.31;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

#root,
#__next {
	isolation: isolate;
}

/* Fonts */

@font-face {
	font-family: 'Vanchrome';
	src: url(/resources/themes/vanchrome.woff) format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Overpass';
	src: url(/resources/themes/overpass-regular.woff) format("woff");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Overpass';
	src: url(/resources/themes/overpass-bold.woff) format("woff");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Overpass Mono';
	src: url(/resources/themes/overpass-mono-regular.woff) format("woff");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Overpass Mono';
	src: url(/resources/themes/overpass-mono-bold.woff) format("woff");
	font-weight: 700;
	font-style: normal;
}

/* Colors */

:root {
	--local-color-dark: var(--color-gray-dark);
	--local-color: var(--color-gray);
	--local-color-medium: var(--color-gray-medium);
	--local-color-light: var(--color-gray-light);
}

[class*="-primary"] {
	--local-color-dark: var(--color-primary-dark);
	--local-color: var(--color-primary);
	--local-color-medium: var(--color-primary-medium);
	--local-color-light: var(--color-primary-light);
}

[class*="-secondary"] {
	--local-color-dark: var(--color-secondary-dark);
	--local-color: var(--color-secondary);
	--local-color-medium: var(--color-secondary-medium);
	--local-color-light: var(--color-secondary-light);
}

[class*="-danger"] {
	--local-color-dark: var(--color-danger-dark);
	--local-color: var(--color-danger);
	--local-color-medium: var(--color-danger-medium);
	--local-color-light: var(--color-danger-light);
}

[class*="-success"] {
	--local-color-dark: var(--color-success-dark);
	--local-color: var(--color-success);
	--local-color-medium: var(--color-success-medium);
	--local-color-light: var(--color-success-light);
}

/* General formatting */

body {
	font-family: 'Overpass', Arial, Helvetica, sans-serif;
	background-color: var(--color-background);
	font-size: 100%;
}

@media screen and (max-width: 1023px) {
	body {
		font-size: 90% !important;
	}
}

@media screen and (max-width: 767px) {
	body {
		font-size: 80% !important;
	}
}

h1,
h2 {
	font-family: 'Vanchrome';
	font-weight: 500;
	text-transform: uppercase;
}

h2 {
	font-size: 2.2em;
	color: var(--color-primary-dark);
	margin-bottom: 0.375em;
}

a {
	text-decoration: none;
	color: var(--color-primary);
}

a:hover {
	color: var(--color-primary-light);
}

a:active {
	color: var(--color-primary-dark);
}

p {
	margin-bottom: 0.8em;
}

dialog {
	max-width: 100%;
	max-height: 100%;
	background: none;
	border: none;
}

dialog:not([open]) {
	display: none;
}

/* Generic margins */

.m-1_2 {
	margin: 0.5em;
}

.m-1 {
	margin: 1em;
}

.mr-1_2 {
	margin-right: 0.5em;
}

.mr-1 {
	margin-right: 1em;
}

.mb-1_2 {
	margin-bottom: 0.5em;
}

.mb-1 {
	margin-bottom: 1em;
}

/* Generic padding */

.p-1_2 {
	padding: 0.5em;
}

.p-1 {
	padding: 1em;
}

.pt-1 {
	padding-top: 1em;
}

.grid-gap-m {
	gap: 0.5em;
}

.grid-gap-lg {
	gap: 1em;
}

.grid-gap-xl {
	gap: 2em;
}

/* Generic flexbox */

.flex-row {
	display: flex;
	flex-direction: row;
}

/* Generic widths */

.w-100 {
	width: 100%;
}

/* Typography helpers */

.text-center {
	text-align: center;
}

.text-lg {
	font-size: 1.25em;
}

.text-xl {
	font-size: 1.4em;
}

.text-xxl {
	font-size: 2em;
}

/* Custom Scrollbar */

::-webkit-scrollbar {
	width: 3px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

/* UI Utilities */

.ui-passive {
	pointer-events: none;
	user-select: none;
	-webkit-user-select: none;
}

.ui-passive > a {
	pointer-events: auto;
}

/* Buttons */

.btn {
	display: inline-block;
	text-align: center;
	font-family: 'Overpass';
	font-size: 1em;
	font-weight: 600;
	padding: 0.5em 0.75em 0.5em 0.75em;
	outline-offset: -1px;
	font-optical-sizing: auto;
	cursor: pointer;
	pointer-events: all;
	color: var(--color-light);
	background-color: var(--local-color);
	border: 2px solid var(--local-color-medium);
	outline: 1px solid var(--local-color-dark);
}

.btn:hover,
.btn:focus {
	transform: scale(1.01);
	background-color: var(--local-color-medium);
	border-color: var(--local-color-light);
	outline-color: var(--local-color);
}

.btn:active {
	transform: scale(1.01);
	background-color: var(--local-color-dark);
	border-color: var(--local-color-medium);
	outline-color: var(--local-color);
}

.btn:disabled {
	background-color: var(--local-color-dark);
	border-color: var(--local-color-medium);
	outline-color: var(--local-color);
	color: var(--color-gray-medium)
}

.btn-circle {
	padding-left: 0;
	padding-right: 0;
	border-radius: 100%;
	width: 2.625em;
	height: 2.625em;
	padding-top: 0.45em !important;
}

.btn-featured {
	font-family: 'Vanchrome', sans-serif;
	padding: 0.15em 0.5em;
	font-size: 2em;
	text-transform: uppercase;
	font-weight: 500;
}

.btn-block {
	display: block;
	width: 100%;
}

/* Icons */

.icon-m {
	background-size: 1.5em;
	background-repeat: no-repeat;
	background-position: center;
}

.icon-fixed {
	width: 2.5em;
	height: 2.5em;
	mask-size: 2.5em;
	mask-repeat: no-repeat;
	mask-position: center;
	display: inline-block !important;
	background-color: var(--panel-background);
}

.icon-fixed:hover,
.icon-fixed:focus,
.icon-fixed:active {
	transform: scale(1.05);
	background-color: var(--color-light);
}

.icon-settings {
	background-image: url(/resources/icons/settings.svg);
}

.icon-quit {
	background-image: url(/resources/icons/quit.svg);
}

.icon-close {
	mask-image: url(/resources/icons/close.svg);
	-webkit-mask-image: url(/resources/icons/close.svg);
}

.icon-discord {
	mask-image: url(/resources/icons/discord.svg);
	-webkit-mask-image: url(/resources/icons/discord.svg);
}

.icon-github {
	mask-image: url(/resources/icons/github.svg);
	-webkit-mask-image: url(/resources/icons/github.svg);
}

/* Logo and background */

.theme-logo {
	margin-bottom: 1em;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.theme-background {
	position: absolute;
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.background-blur {
	backdrop-filter: blur(5px);
}

.background-vignette {
	box-shadow: 0 0 15em rgba(0, 0, 0, 0.6) inset;
}

@media screen and (max-width: 1023px) {
	.background-vignette {
		box-shadow: 0 0 8em rgba(0, 0, 0, 0.6) inset !important;
	}
}

@media screen and (max-width: 767px) {
	.background-vignette {
		box-shadow: 0 0 4em rgba(0, 0, 0, 0.6) inset !important;
	}
}

/* Layout Windows */

.layout-window {
	position: absolute;
	height: 100vh;
	width: 100%;
	padding: 2em;
}

.flex-centered {
	display: flex;
	justify-items: center;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-flow: column;
}

.flex-spaced {
	display: flex;
	justify-items: center;
	justify-content: space-between;
	align-items: center;
	align-content: space-between;
	flex-flow: column;
	pointer-events: none;
}

@media screen and (max-height: 511px) {
	.flex-centered {
		flex-flow: row !important;
	}
}

/* Panels and Modals */

.panel {
	flex-grow: 0;
	background-color: var(--panel-background);
}

.panel-header {
	font-family: 'Vanchrome';
	font-size: 2.2em;
	font-weight: 500;
	text-transform: uppercase;
	line-height: 0;
	margin: 0;
	padding: 0.75em 0.375em !important;
	background-color: var(--color-danger);
	color: var(--color-light);
	border-bottom: 3px solid var(--color-danger-dark);
}

.panel > .icon-fixed {
	text-decoration: none;
	float: right;
	margin-right: 0.375em;
	margin-top: 0.375em;
}

.panel-body {
	padding: 0.5em;
	border: 3px solid;
	outline: 1px solid var(--color-primary);
	outline-offset: -1px;
	max-height: 90vh;
	overflow: auto;
	width: 100%;
	position: relative;
	color: var(--color-copy);
	border-color: var(--color-primary-light);
	box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.5);
}

.panel-header + .panel-body {
	padding: 1em;
}

.panel-header + .panel-body {
	border-top: none;
}

.modal-header {
	font-size: 1em;
	margin: -0.5em -0.5em 0.5em -0.5em;
	padding: 0.5em 0.5em 0.5em 0.5em;
	color: var(--color-primary);
	border-bottom: 3px solid var(--color-primary-light);
}

.content-field {
	padding: 0.5em;
	border: 3px solid;
	outline: 1px solid var(--local-color);
	outline-offset: -1px;
	margin-bottom: 0.5em;
	position: relative;
	background-color: var(--local-color-light);
	border-color: var(--local-color-medium);
}

.panel-body > .content-field:last-child {
	margin-bottom: 0;
}

/* Form elements */

.form-label {
	display: block;
	padding: 0.375em;
	background-color: var(--local-color-light);
	color: var(--local-color-dark);
	border-left: 2px solid var(--local-color-dark);
}

input.form-control {
	display: inline-block;
	border: none;
	padding: 0.375em;
	line-height: 1em;
	--local-color: var(--color-primary);
	border-bottom: 2px solid var(--local-color);
}

input.form-control:focus {
	outline: none;
	--local-color: var(--color-secondary);
}

input.form-control.form-control-error {
	--local-color: var(--color-danger);
}

.switch {
	position: relative;
	display: inline-block;
	width: 2.4em;
	height: 1.2em;
	margin-right: 1em;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-transition: .4s;
	transition: .4s;
	background-color: var(--panel-contrast);
}

.slider:before {
	position: absolute;
	content: "";
	height: 0.95em;
	width: 0.95em;
	left: 0.125em;
	bottom: 0.124em;
	-webkit-transition: .4s;
	transition: .4s;
	background-color: var(--color-light)
}

input:checked + .slider:before {
	transform: translateX(1.2em);
}

input:checked + .slider {
	background-color: var(--local-color-medium);
}

.slider-round {
	border-radius: 1em;
}

.slider-round:before {
	border-radius: 50%;
}

.single-select {
	border: 3px solid;
	outline: 1px solid var(--color-primary);
	outline-offset: -1px;
	padding: 0.1em 0.4em;
	margin-right: 1em;
	background-color: var(--color-primary-medium);
	border-color: var(--color-primary-light);
	color: var(--color-light);
}

.data-copy-title {
	border: 1px solid;
	padding-right: 0.5em;
	padding-left: 0.5em;
	border-color: var(--color-secondary);
}

.data-copy-content {
	border: 1px solid;
	padding-right: 0.5em;
	padding-left: 0.5em;
	margin-right: 1em;
	cursor: pointer;
	background-color: var(--color-secondary-medium);
	border-color: var(--color-secondary);
}

.data-copy-title + .data-copy-content {
	border-left: none;
}

/* Tooltips */

.tooltip {
	z-index: 100;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 145%;
	padding: 0.5em;
	border-radius: 2em;
	border: 1px solid var(--local-color-light);
	width: max-content;
	max-width: 35vw;
	background-color: var(--local-color);
	color: var(--color-light);
}

.tooltip::after {
	content: "";
	position: absolute;
	top: calc(100% - 0.32em);
	height: 0.75em;
	width: 0.75em;
	background: inherit;
	transform: translateX(-50%) rotate(45deg);
	left: 50%;
	border-bottom: inherit;
	border-right: inherit;
	clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 75%, 75% 0);
}

/* General elements */

.footer {
	position: absolute;
	height: 2em;
	width: 100%;
	top: calc(100% - 2em);
	padding: 0.25em;
	text-align: center;
	font-size: 0.8em;
	background-color: rgba(0, 0, 0, 0.2);
	color: var(--panel-contrast);
}

.footer a {
	color: var(--panel-contrast);
}

.footer a:hover {
	color: var(--color-light);
}

.footer a:active {
	color: var(--panel-background);
}

/* Ingame HUD */

.hud-clock {
	font-family: 'Overpass Mono';
	display: block;
	width: 8em;
	height: 2.625em;
	font-weight: bold;
	border-radius: 2em;
	border: 1px solid;
	display: flex;
	align-items: center;
	align-content: center;
	justify-items: center;
	justify-content: center;
	color: var(--color-light);
	background-color: var(--color-primary-dark);
	border-color: var(--color-primary-medium);
}

.selector-container {
	max-width: 90%;
	min-width: 500px;
}

.selector-stats-container {
	width: 100%;
	display: flex;
	flex-flow: row;
	direction: rtl;
	padding-left: 1.86em;
	--local-color-light: var(--color-primary-medium);
	--local-color: var(--color-primary-dark);
	--local-color-medium: var(--color-primary);
	--cutoff: 2em;
}

.selector-stats-container::before {
	content: "";
	position: absolute;
	width: calc(100% - 40px);
	height: 15px;
	margin-top: calc(1.3em - 1px);
	border-top: 2px solid var(--local-color-light);
	border-right: 2px solid var(--local-color-light);
	box-shadow: 1px -1px var(--local-color);
	background-color: var(--local-color-medium);
}

.selector-stat {
	font-size: 0.8em;
	position: relative;
	color: var(--color-light);
	border-color: var(--local-color-medium);
	--local-color: var(--local-color);
	background-color: var(--local-color-dark);
	--border-thickness: 1px;
	direction: ltr;
	z-index: -1;
}

.selector-stat::before {
	content: "";
	position: absolute;
	height: 0;
	width: 240%;
	padding-bottom: 240%;
	margin-left: -70%;
	transform: rotate(45deg);
	clip-path: polygon(-1px calc(29.3% - var(--border-thickness) - 6px), -1px calc(29.3% + 1.8em), 5px calc(29.3% + 2em), calc(29.3% + 1.3em) 7px, calc(29.3% + var(--cutoff)) -1px, calc(29.3% - var(--border-thickness) - 6px) -1px);
	border-top: var(--border-thickness) solid;
	border-left: var(--border-thickness) solid;
	border-color: inherit;
	box-shadow: -1px -1px var(--local-color);
	background: inherit;
	left: 0;
	z-index: -1;
}

.selector-stat::after {
	content: "";
	position: absolute;
	width: calc(99.9% + var(--border-thickness) - 13px);
	margin-left: calc(0.2% + 6px);
	margin-top: calc(var(--border-thickness) - 7px);
	border-top: var(--border-thickness) solid;
	border-color: inherit;
	box-shadow: 0 -1px var(--local-color);
	left: 0;
	z-index: -1;
}

.selector-stat:last-of-type {
	font-size: 1.5em;
	min-width: 30px;
	text-align: center;
	border-color: var(--color-primary-medium);
	--local-color: var(--color-primary-dark);
	background-color: var(--color-primary);
	--border-thickness: 2px;
	--cutoff: 1.1em;
	z-index: 0;
}

.selector-stat:not(:last-of-type) {
	padding-left: 30px;
	padding-right: 5px;
	margin-top: 4px;
	line-height: 12px;
	margin-left: -15px;
}

.selector-stat:nth-last-child(2) {
	padding-left: 33px;
}

.selector-stat:first-of-type {
	margin-right: auto;
}

.selector-slider {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 30px;
	border-left: 2px solid var(--color-primary-medium);
	border-right: 2px solid var(--color-primary-medium);
	box-shadow: -1px 0 var(--color-primary-dark), 1px 0 var(--color-primary-dark), 0 0 1px 2px var(--color-primary-dark) inset;
	background-color: var(--panel-contrast);
	--value: 0.5;
	--local-color: var(--color-secondary-dark);
	pointer-events: all;
	cursor: pointer;
}

.selector-slider::before {
	content: "";
	position: absolute;
	height: calc(100% - 4px);
	width: calc(var(--value) * 100% - 3px);
	left: 1px;
	top: 2px;
	background-color: var(--color-secondary-medium);
	border: 2px solid var(--color-secondary);
	border-right: none;
	box-shadow: 2px 0 var(--local-color);
	z-index: 1;
}

.selector-slider::after {
	content: "";
	position: absolute;
	width: 16px;
	height: 16px;
	left: calc(var(--value) * 100% - 9px);
	margin-top: -16px;
	transform: rotate(45deg);
	background-color: var(--local-color);
	clip-path: polygon(70% 20%, 100% 50%, 100% 100%, 50% 100%, 20% 70%);
}

.selector-slider:has(input:focus) {
	--local-color: var(--color-secondary);
}

.selector-slider:has(input:focus)::before {
	background-color: var(--color-secondary-light);
}

.selector-number {
	font-size: 0.8em;
	position: absolute;
	width: 40px;
	margin-top: 7px;
	margin-left: 5px;
	left: calc(var(--value) * 100%);
}

.selector-number-reversed {
	margin-left: -46px;
	z-index: 1;
}

.selector-slider > input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* Layout elements */

.grid {
	display: grid;
	gap: 0.5em;
}

.grid-1col {
	grid-template-columns: 1fr;
}

.grid-2col {
	grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 767px) {
	.grid-2col {
		grid-template-columns: 1fr !important;
	}
}

/* Settings Elements */

.settings-category-container {
	flex-grow: 1;
}

.settings-tab-container {
	margin-left: -1em;
	margin-top: calc(1px - 1em);
	padding-top: 1em;
	border-right: 2px solid;
	border-color: var(--color-primary-light);
	color: var(--color-primary);
	background-color: var(--color-primary-medium);
}

.settings-tab-container::before {
	content: "";
	position: absolute;
	width: 2em;
	height: 2em;
	margin-left: calc(0.375em - 3px);
	margin-top: -1.91em;
	transform: rotate(45deg);
	background-color: inherit;
	border-left: 2px solid;
	border-color: inherit;
	box-shadow: -1px -1px;
	clip-path: polygon(-0.1em 0.43em, 1.47em 2em, 0.3em 2em, 0.28em 1.72em, -0.1em 1.9em);
}

.settings-tab-container::after {
	content: "";
	position: absolute;
	height: 1em;
	width: calc(2.5em + 2px);
	bottom: 0;
	background-color: inherit;
	border-right: 2px solid;
	border-color: inherit;
}

.settings-tab {
	height: calc(2.5em + 6px);
	width: calc(2.5em + 3px);
	padding: 2px 0;
	border-bottom: 2px solid;
	border-color: inherit;
	margin-left: -3px;
	background-color: inherit;
}

.settings-tab::before {
	content: "";
	position: absolute;
	height: 2.5em;
	width: 2.5em;
	margin-left: -0.875em;
	transform: rotate(-45deg);
	clip-path: polygon(4px 75%, 10px 93%, -1px 80.5%, -1px 46.2%, 46.2% -1px, 80.5% -1px, 93% 10px, 75% 4px);
	border-top: 2px solid;
	border-left: 2px solid;
	border-color: inherit;
	box-shadow: -1px -1px;
	background: inherit;
}

.settings-tab::after {
	content: "";
	position: absolute;
	height: calc(2.5em - 14px);
	margin-top: 7px;
	margin-left: calc(-2.75em - 5px);
	border-left: 2px solid;
	border-color: inherit;
	box-shadow: -1px 0;
}

.settings-tab:first-child {
	height: calc(2.5em + 8px);
	border-top: 2px solid;
	border-color: inherit;
	clip-path: polygon(100% 0, 100% 100%, -100% 100%, -9px -2px, 1px 1px, 2px 0);
}

.settings-tab > a {
	position: relative;
	z-index: 1;
}

.settings-tab:hover > a {
	transform: scale(1.05);
	background-color: var(--color-light);
}

.settings-tab-active {
	background-color: var(--color-primary);
}

.settings-category {
	border-color: var(--color-primary-medium);
}

@media screen and (max-width: 767px) {
	.settings-tab-container {
		display: none;
	}

	.settings-category {
		max-height: none !important;
	}

	.settings-category:not(:last-child) {
		border-bottom: 2px solid;
		margin-bottom: 0.5em;
		padding-bottom: 1em;
	}

	.settings-category > *:not(:last-child) {
		margin-bottom: 0.25em;
	}
}

@media screen and (min-width: 768px) {
	.panel-body:has(.settings-category-container) {
		overflow: visible;
		margin-left: -1em;
		width: calc(100% + 1em);
	}

	.settings-category-container {
		width: 100%;
		overflow: auto;
		margin-left: 2em;
	}

	.settings-category {
		display: none;
	}

	.settings-category-active {
		display: flex !important;
		flex-direction: column;
		flex-wrap: wrap;
		gap: 0.25em 0;
		width: 100%;
		min-height: 100%;
	}

	.settings-category > * {
		width: 50%;
	}
}

/* Alerts */

@keyframes alert-dismiss {
	from {
		width: 100%;
	}
	to {
		width: 0;
	}
}

.alert {
	position: relative;
	width: fit-content;
	top: 10px;
	margin: 0 10px 10px auto;
	border: 3px solid var(--local-color-medium);
	border-bottom: 5px solid var(--local-color-medium);
	outline: 1px solid var(--local-color-dark);
	outline-offset: -1px;
	padding: 0.5em 1em 0.5em 2.5em;
	background-color: var(--local-color-light);
	color: var(--color-copy);
}

.alert::after {
	content: "";
	display: block;
	position: absolute;
	right: 0;
	bottom: -2px;
	height: 2px;
	background: inherit;
	animation-name: alert-dismiss;
	animation-timing-function: linear;
}

.alert-fast::after {
	animation-duration: 3s;
}

.alert-normal::after {
	animation-duration: 5s;
}

.alert-slow::after {
	animation-duration: 10s;
}

.alert::before {
	position: absolute;
	top: .175em;
	left: 10px;
	width: 22px;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	color: var(--local-color);
}

.alert-primary::before {
	content: "!";
}

.alert-secondary::before {
	content: "?";
}

.alert-danger::before {
	content: "\26A0";
}

.alert-success::before {
	content: "\1F5F8";
	top: .225em;
}

/* UI Attachments */

.attach-north {
	position: absolute;
	top: 0;
	transform: translateY(-100%);
}

.attach-east {
	position: absolute;
	right: 0;
	transform: translateX(100%);
}

.attach-south {
	position: absolute;
	bottom: 0;
	transform: translateY(100%);
}

.attach-west {
	position: absolute;
	left: 0;
	transform: translateX(-100%);
}

/* UI Anchors */

.anchor-top-left {
	position: absolute;
	top: 0;
	left: 0;
}

.anchor-top-center {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}

.anchor-top-right {
	position: absolute;
	top: 0;
	right: 0;
}

.anchor-middle-left {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}

.anchor-middle-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.anchor-middle-right {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}

.anchor-bottom-left {
	position: absolute;
	bottom: 0;
	left: 0;
}

.anchor-bottom-center {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

.anchor-bottom-right {
	position: absolute;
	bottom: 0;
	right: 0;
}