/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.31;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* Generic margins */
.m-1_2 {
  margin: 0.5em;
}

.m-1 {
  margin: 1em;
}

.mr-1_2 {
  margin-right: 0.5em;
}

.mr-1 {
  margin-right: 1em;
}

/* Generic padding */

.p-1_2 {
  padding: 0.5em;
}

.p-1 {
  padding: 1em;
}

.pt-1 {
  padding-top: 1em;
}

/* Generic widths */

.w-100 {
  width: 100%;
}


/* Typography helpers */

.text-center {
  text-align: center;
}

.text-lg {
  font-size: 1.25em;
}

.text-xl {
  font-size: 1.4em;
}

.text-xxl {
  font-size: 2em;
}


/* Custom Scrollbar */

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}