@import "../base.css";

/* Global variables */

:root {

	--color-background: #ddecf5;

	--color-light: #FFFFFF;

	--color-primary-dark: #13415c;
	--color-primary: #457493;
	--color-primary-medium: #77aac9;
	--color-primary-light: #9dc4de;

	--color-secondary-dark: #9c8559;
	--color-secondary: #c5b47a;
	--color-secondary-medium: #e5d59e;
	--color-secondary-light: #f3f3c6;

	--color-danger-dark: #7b1e2b;
	--color-danger: #c83446;
	--color-danger-medium: #ed6780;
	--color-danger-light: #ee92a4;

	--color-success-dark: #4f7348;
	--color-success: #82ad77;
	--color-success-medium: #a3ce94;
	--color-success-light: #c0dcaf;

	--color-copy: #555555;
}

/* General formatting */

body {
	background-color: var(--color-background);
}

h2 {
	color: var(--color-primary-dark);
}

a {
	color: var(--color-primary);
}

a:hover {
	color: var(--color-primary-light);
}

a:active {
	color: var(--color-primary-dark);
}

.icon-fixed {
	background-color: #EEEEEE !important;
}

.icon-fixed:hover,
.icon-fixed:focus,
.icon-fixed:active {
	background-color: #FFFFFF !important;
}


/* Logo and background */

.theme-logo {
	background-image: url(/resources/themes/wf-logo-pastel.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.theme-background {
	background-image: url(/resources/themes/pastel-mm-bg.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.background-blur {
	backdrop-filter: blur(5px);
}

.background-vignette {
	box-shadow: 0 0 15em rgba(0, 0, 0, 0.6) inset;
}

@media screen and (max-width: 1023px) {
	.background-vignette {
		box-shadow: 0 0 8em rgba(0, 0, 0, 0.6) inset !important;
	}
}

@media screen and (max-width: 767px) {
	.background-vignette {
		box-shadow: 0 0 4em rgba(0, 0, 0, 0.6) inset !important;
	}
}

/* General elements */

.footer {
	background-color: rgba(0, 0, 0, 0.2);
	color: #CCCCCC;
}

.footer a {
	color: #CCCCCC;
}

.footer a:hover {
	color: #EEEEEE;
}

.footer a:active {
	color: #AAAAAA;
}

/* Ingame HUD */

.hud-clock {
	color: var(--color-light);
	background-color: var(--color-primary-dark);
	border-color: var(--color-primary-medium);
}

/* Buttons */

.btn {
	color: white;
	background-color: #666666;
	border: 2px solid #888888;
	outline: 1px solid #444444;
}

.btn:hover,
.btn:focus {
	background-color: #888888;
	border: 2px solid #AAAAAA;
	outline: 1px solid #666666;
	color: white;
}

.btn:active {
	background-color: #444444;
	border: 2px solid #888888;
	outline: 1px solid #444444;
	color: white;
}

/* Button colors */

.btn-primary {
	background-color: var(--color-primary);
	border-color: var(--color-primary-medium);
	outline-color: var(--color-primary-dark);
}

.btn-primary:hover,
.btn-primary:focus {
	background-color: var(--color-primary-medium);
	border-color: var(--color-primary-light);
	outline-color: var(--color-primary);
}

.btn-primary:active {
	background-color: var(--color-primary-dark);
	border-color: var(--color-primary-medium);
	outline-color: var(--color-primary);
}

.btn-primary:disabled {
	background-color: var(--color-primary-dark);
	border-color: var(--color-primary-medium);
	outline-color: var(--color-primary);
	color: #999999;
}

.btn-secondary {
	background-color: var(--color-secondary);
	border-color: var(--color-secondary-medium);
	outline-color: var(--color-secondary-dark);
}

.btn-secondary:hover,
.btn-secondary:focus {
	background-color: var(--color-secondary-medium);
	border-color: var(--color-secondary-light);
	outline-color: var(--color-secondary);
}

.btn-secondary:active {
	background-color: var(--color-secondary-dark);
	border-color: var(--color-secondary-medium);
	outline-color: var(--color-secondary);
}

.btn-danger {
	background-color: var(--color-danger);
	border: 2px solid var(--color-danger-medium);
	outline: 1px solid var(--color-danger-dark);
}

.btn-danger:hover,
.btn-danger:focus{
	background-color: var(--color-danger-medium);
	border-color: var(--color-danger-light);
	outline-color: var(--color-danger);
}

.btn-danger:active {
	background-color: var(--color-danger-dark);
	border-color: var(--color-danger-medium);
	outline-color: var(--color-danger);
}

.btn-success {
	background-color: var(--color-success);
	border: 2px solid var(--color-success-medium);
	outline: 1px solid var(--color-success-dark);
}

.btn-success:hover,
.btn-success:focus {
	background-color: var(--color-success-medium);
	border-color: var(--color-success-light);
	outline-color: var(--color-success);
}

.btn-success:active {
	background-color: var(--color-success-dark);
	border-color: var(--color-success-medium);
	outline-color: var(--color-success);
}

/* Panels and Modals */

.panel {
	background-color: #eeeeeedd;
}

.panel-header {
	background-color: var(--color-danger);
	color: white;
	border-bottom: 3px solid var(--color-danger-dark);
}

.panel-body {
	color: var(--color-copy);
	border-color: var(--color-primary-light);
	outline-color: var(--color-primary);
	box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.5);
}

.modal-header {
	color: var(--color-primary);
	border-bottom: 3px solid var(--color-primary-light);
}

.content-field-primary {
	background-color: var(--color-primary-light);
	border-color: var(--color-primary-medium);
	outline-color: var(--color-primary);
}

.content-field-secondary {
	background-color: var(--color-secondary-light);
	border-color: var(--color-secondary-medium);
	outline-color: var(--color-secondary);
}

.content-field-danger {
	background-color: var(--color-danger-light);
	border-color: var(--color-danger-medium);
	outline-color: var(--color-danger);
}

.content-field-success {
	background-color: var(--color-success-light);
	border-color: var(--color-success-medium);
	outline-color: var(--color-success);
}

/* Form elements */

.form-label {
	background-color: #CCC;
	border-left: 2px solid #999;
}

.form-label-danger {
	background-color: var(--color-danger-light);
	color: var(--color-danger-dark);
	border-left: 2px solid var(--color-danger-dark);
}

input.form-control {
	border-bottom: 2px solid var(--color-primary);
}

.form-control-error {
	border-bottom: 2px solid var(--color-danger) !important;
}

input.form-control:focus {
	border-bottom: 2px solid var(--color-secondary);
}

.slider {
	background-color: #ccc;
}

.slider:before {
	background-color: white;
}

input:checked + .slider {
	background-color: #2196F3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

.single-select {
	background-color: var(--color-primary-medium);
	border-color: var(--color-primary-light);
	outline-color: var(--color-primary);
	color: white;
}

.data-copy-title {
	border-color: var(--color-secondary);
}

.data-copy-content {
	background-color: var(--color-secondary-medium);
	border-color: var(--color-secondary);
}

/* Tooltips */

.tooltip-primary {
	background-color: var(--color-primary);
	color: white;
	border-color: var(--color-primary-light);
}

.tooltip-secondary {
	background-color: var(--color-secondary);
	color: black;
	border-color: var(--color-secondary-light);
}

.tooltip-danger {
	background-color: var(--color-danger);
	color: white;
	border-color: var(--color-danger-light);
}

.tooltip-success {
	background-color: var(--color-success);
	color: white;
	border-color: var(--color-success-light);
}

/* Settings */

.settings-tab-container {
	border-color: var(--color-primary-light);
	color: var(--color-primary);
	background-color: var(--color-primary-medium);
}

.settings-tab:hover > a {
	background-color: #FFFFFF !important;
}

.settings-tab-active {
	background-color: var(--color-primary);
}

.settings-category {
	border-color: var(--color-primary-medium);
}